*
    box-sizing: border-box
    margin: 0
    cursor: default

html, body
    display: flex
    flex-direction: column
    height: 100%
    align-items: center
    justify-content: center
    overflow hidden
    background: #333
    color: #FFF
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
    font-size: 36px

a
    color: #1e90ff

#canvas
    position: absolute
    width: 100%
    height: 100%

#puzzle
    z-index: 1
    transition: opacity 0.2s ease-in, transform 0.8s ease-in

    .wrapper1
        transition: transform 0.8s ease-in

    .wrapper2
        display: flex
        flex-direction: column
        align-items: center

    &.hide
        transform translateY(100vh)

        .wrapper1
            transform rotateZ(30deg)


.verse
    margin-bottom: 3em
    text-align: center
    font-size: 0.66em

    p
        margin-bottom: 2em

.panel
    opacity 0
    transition: opacity 0.2s ease-out

input
    width: 1em
    height: 1em
    background: #FFF2
    color: inherit
    font: inherit
    text-align: center
    line-height: 1
    border: none
    outline: none !important
    cursor: pointer
    transition: background 0.1s ease-out

    &[disabled]
        background: #FFF2 !important
        cursor: default

    &:hover, &:focus
        background: #FFF4

#loading
    pointer-events none
    font-size: 0.5em
    color: #AAA
    transform translateY(-2em)
    transition: opacity 0.2s ease-in

#result
    z-index 2
    display: flex
    flex-direction: column
    align-items: center
    overflow visible
    line-height 2em
    font-size 0.8em

    .headline1, .headline2, .action
        opacity 0

    .action
        position absolute
        top 75vh
        padding .5em 1em
        cursor pointer
        animation text-glow 2s ease-in-out infinite alternate

        &:hover
            letter-spacing .1em

    &.show
        .headline1, .headline2, .action
            opacity 1

        .headline1
            transition opacity .3s ease-out

        .headline2
            transition opacity .3s ease-out 1.5s

        .action
            transition opacity .3s ease-out 3.5s, letter-spacing .2s ease-out

.cover
    z-index 100
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    pointer-events none
    transition background-color .8s ease-in

    &.active
        background #EEE

@keyframes text-glow {
    from {
        text-shadow: 0 0 10px #fff
    }
    to {
        text-shadow: 0 0 30px #fff
    }
}


// https://github.com/elrumordelaluz/csshake

.shake
    transform-origin: center center
    animation-name: shake
    animation-duration: 100ms
    animation-timing-function: ease-in-out
    animation-iteration-count: infinite

@keyframes shake {
    2% {
        transform: translate(1.5px, -1.5px) rotate(-.5deg);
    }
    4% {
        transform: translate(-1.5px, -.5px) rotate(1.5deg);
    }
    6% {
        transform: translate(1.5px, 2.5px) rotate(-.5deg);
    }
    8% {
        transform: translate(2.5px, .5px) rotate(-.5deg);
    }
    10% {
        transform: translate(2.5px, -.5px) rotate(-.5deg);
    }
    12% {
        transform: translate(-.5px, 1.5px) rotate(1.5deg);
    }
    14% {
        transform: translate(2.5px, -.5px) rotate(1.5deg);
    }
    16% {
        transform: translate(.5px, -1.5px) rotate(.5deg);
    }
    18% {
        transform: translate(2.5px, 2.5px) rotate(-.5deg);
    }
    20% {
        transform: translate(1.5px, -.5px) rotate(1.5deg);
    }
    22% {
        transform: translate(-.5px, 1.5px) rotate(.5deg);
    }
    24% {
        transform: translate(-1.5px, 1.5px) rotate(.5deg);
    }
    26% {
        transform: translate(2.5px, .5px) rotate(1.5deg);
    }
    28% {
        transform: translate(-.5px, -.5px) rotate(.5deg);
    }
    30% {
        transform: translate(.5px, -.5px) rotate(.5deg);
    }
    32% {
        transform: translate(1.5px, -.5px) rotate(1.5deg);
    }
    34% {
        transform: translate(1.5px, .5px) rotate(-.5deg);
    }
    36% {
        transform: translate(.5px, 2.5px) rotate(.5deg);
    }
    38% {
        transform: translate(-1.5px, -.5px) rotate(.5deg);
    }
    40% {
        transform: translate(.5px, -.5px) rotate(.5deg);
    }
    42% {
        transform: translate(.5px, -.5px) rotate(1.5deg);
    }
    44% {
        transform: translate(-1.5px, .5px) rotate(1.5deg);
    }
    46% {
        transform: translate(-1.5px, -.5px) rotate(-.5deg);
    }
    48% {
        transform: translate(-1.5px, -.5px) rotate(-.5deg);
    }
    50% {
        transform: translate(-.5px, -.5px) rotate(.5deg);
    }
    52% {
        transform: translate(-1.5px, .5px) rotate(1.5deg);
    }
    54% {
        transform: translate(2.5px, .5px) rotate(-.5deg);
    }
    56% {
        transform: translate(1.5px, 2.5px) rotate(1.5deg);
    }
    58% {
        transform: translate(.5px, 1.5px) rotate(1.5deg);
    }
    60% {
        transform: translate(-1.5px, -1.5px) rotate(1.5deg);
    }
    62% {
        transform: translate(.5px, 1.5px) rotate(-.5deg);
    }
    64% {
        transform: translate(1.5px, 2.5px) rotate(1.5deg);
    }
    66% {
        transform: translate(1.5px, -.5px) rotate(1.5deg);
    }
    68% {
        transform: translate(-1.5px, 1.5px) rotate(.5deg);
    }
    70% {
        transform: translate(.5px, .5px) rotate(-.5deg);
    }
    72% {
        transform: translate(-.5px, -.5px) rotate(.5deg);
    }
    74% {
        transform: translate(.5px, -1.5px) rotate(.5deg);
    }
    76% {
        transform: translate(-.5px, 1.5px) rotate(.5deg);
    }
    78% {
        transform: translate(1.5px, -1.5px) rotate(-.5deg);
    }
    80% {
        transform: translate(-1.5px, -.5px) rotate(.5deg);
    }
    82% {
        transform: translate(.5px, -.5px) rotate(.5deg);
    }
    84% {
        transform: translate(2.5px, 2.5px) rotate(1.5deg);
    }
    86% {
        transform: translate(2.5px, -.5px) rotate(1.5deg);
    }
    88% {
        transform: translate(.5px, .5px) rotate(-.5deg);
    }
    90% {
        transform: translate(-.5px, -1.5px) rotate(-.5deg);
    }
    92% {
        transform: translate(2.5px, 1.5px) rotate(-.5deg);
    }
    94% {
        transform: translate(2.5px, -1.5px) rotate(-.5deg);
    }
    96% {
        transform: translate(2.5px, 2.5px) rotate(.5deg);
    }
    98% {
        transform: translate(2.5px, -.5px) rotate(.5deg);
    }
    0%, 100% {
        transform: translate(0, 0) rotate(0);
    }
}
